body
  background #fafafa
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  color #333
  padding-top 70px

.hero-unit
  margin 0 auto 0 auto
  font-size 18px
  font-weight 200
  line-height 30px
  // background-color #eee
  border-radius 6px
  padding 10px 30px

  h1
    font-size 60px
    line-height 1
    letter-spacing -1px

.nav-tabs
  cursor default
  .close-x
    cursor pointer